/* .App{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20%;
} */
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  list-style-type: none;
  margin-top: 10px;
  padding: 20px;
  gap: 10px;
  background-color:#DAEDE2;
  font-family: 'Courier New', Courier, monospace;
}
li a {
  display: block;
  color: #2C3359;
  padding: 8px 16px;
  text-decoration: none;
}
  li a:hover {
    background-color:#2C3359;
    color: #75B8BF;
  }
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.footer-list{
  background-color:#DAEDE2;
  color: #2C3359;
  font-family: 'Courier New', Courier, monospace;
}